.navbar {
    background-color: #fafafb;
    border-top: 3px solid #F48024;
    box-shadow: 0 1px 0 rgba(12,13,14,0.15);
    padding-left: 225px;
    padding-right: 225px;
    padding-bottom: 10px;
}

.navbar .navbar-fixed-top {
    background-color: #fafafb, rgb(250,250,251);
}

.home-page-banner {
    max-width: none;
    -bottom: -20px;
}

.container .body-content {
    margin-left: 225px;
    margin-right: 0;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px
}

.list-group-item {
    border-top: none;
    border-left: none;
    border-right: none;
}

.navbar-collapse {
    padding-top: 20px;
}

.navbar-nav > li > a {
    color: #242729;
    font-size: large;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.home-page-body {
    max-width: 1000px;
}

.commentText {
    font-size: 18px;
}

body {

    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#counterbox {
    text-align: center;
}

#numofvotes {
    font-size: 22px;
}