@model IEnumerable<PAHStack.Models.PostModel>

@foreach (var result in Model)
{
    <ul class="list-group">
        <li class="list-group-item">
            <div class="container">
                <div class="row">

                    <div class="col-xs-1" id="counterbox">
                        <div id="numofvotes">0</div>
                        <div>votes</div>
                    </div>
                    <div class="col-xs-1" id="counterbox">
                        <div id="numofvotes">0</div>
                        <div>answers</div>
                    </div>
                    <div class="col-xs-1" id="counterbox">
                        <div id="numOfViews">@result.ViewCount</div>
                        <div>views</div>
                    </div>

                    <div class="col-xs-9">
                        <div>
                            <h3><a href="~/Post/Details/@result.Id">@result.Title</a></h3>
                            Asked @result.DatePosted.ToShortDateString() ago by @result.User.UserName
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
}

