@model PAHStack.ViewModels.ProfileViewModel
 @using Microsoft.AspNet.Identity;

Your stats should be here dawg 

<h1>Your name is - @User.Identity.GetUserName()</h1>

<h2>The list of questions
    </h2>
@foreach (var item in Model.Posts)
{
    
    <h3> - @item.Title</h3>
    
}

<h2>The list of asnwers</h2>

@foreach (var item in Model.Answers)
{
    <h3> - @item.Body </h3>
}