@model IEnumerable<PAHStack.Models.PostModel>

@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="home-page-banner">
    <div class="col-sm-12">
        <h3>Top Questions</h3>
        <div class="col-sm-9"></div>
        <div class="col-sm-pull-3">
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <button type="button" class="btn btn-lg btn-primary waves-effect" onclick="location.href='@Url.Action("Create", "Post")';return false;">Ask Question</button>
            }
        </div>
    </div>
</div>

<br><br />

<div class="home-page-body">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Interesting</a></li>
        <li role="presentation"><a href="#">Week</a></li>
        <li role="presentation"><a href="#">Month</a></li>
    </ul>
    <div id="results">
        @Html.Partial("_SearchFormPartial", Model)
    </div>
</div>
